
tr{
    border-bottom: 3px solid;
}

table{
    text-align:justify;
    font-size:16px; 
    border-bottom: 3px solid;
}

table td {
    vertical-align: middle !important;
    border-bottom: 2px solid;
    padding-top: 7px;
    padding-bottom: 5px;
}

label{
    margin: 0 auto;
    text-align: center;
    vertical-align: middle !important;
    padding-top: 25px;
    padding-left:8px;
}

tr textarea{
    resize: none;
    color: black;
}

table textarea{
    border: 2px solid
}

table button{
    vertical-align: middle;
}
